@import "./variables.scss";

.contentListWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  padding-top: 12px;
  border-radius: 6px;
  .individualBlockElem {
    width: 284px;
    .topSection {
      display: block;
      img {
        border-radius: 6px;
        object-fit: unset;
      }
    }
  }
}
