@import "./variables.scss";
.dashboardOuterContainer {
  background-color: aliceblue;

  .dashboardInnerContainer {
    background-color: azure;
    min-height: 30em;
    @include flex-center;
    .contentSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include respond(mobile) {
        padding: 0 12px;
      }
      h4 {
        text-align: center;
        font-family: $primary-font;
        font-size: 22px;
        color: #21243d;
      }
      p {
        font-size: 16px;
        color: #2d2f46;
      }
      button {
        background-color: transparent;
        text-decoration: underline;
        border: none;
        cursor: pointer;
      }
      img {
        width: 120px;
      }
    }
  }
}
